os:
- linux
- windows
sudo: false
language: cpp
matrix:
  include:
  - os: linux
    dist: xenial
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-8
        - g++-8
    before_script: cd runtime
    script:
    - CXX=/usr/bin/g++-8
    - CC=/usr/bin/gcc-8
    - cmake -DCMAKE_BUILD_TYPE=Release -B"cmake-build-linux" .
    - make
    - cd src
    - ls -l
  - os: windows
    before_script: cd runtime
    script:
    - mkdir build && cd build
    - cmake -G"Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=Release -T host=x64 ..
    - cmake --build . --config Release
    - ls -l
    - cd Release
    - ls -l
deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: eYKVpb7Or9sI3GFJtnd1k5Hx4fRiQaFaVFZCFLICD5tx2SHukokd0b2Tse66S37FCOEl57irFyJtB3L7rWF12RUZuLsHcX+woZlvqF3NO+7fmK+Ug9sTeqOwtOHt/PTMN7D3S3sIpW4Vs5BrBJv23K2VUVKgo4bcMseuBpaPM/Qe9/aTTcWPvAHejLkmn2Cz9HJM0A74/QBZigTGi8SHHh9nTiN3ZoRoCorKzu9/ZlVScRZI+G8U7Kkfs8t2QWD+wiw7SGEIp/dUGoXW7EtqODDwntANZwpkQ+AJVbonCmNkZtr7SJLntNrC4zlIfuGLL+Wr50v77I2q1AAI+8rL3PCSe3V9dpjheztooJyst5Ir7WVqvROJ2U2tYoKvEMiL0Wo7Ffq30NJ+d4xyaovVffdUIAyqqxA+tsorvNSju55CQXTkVGnyrbRAsYK/bh4k8LIln868RqAffzGkXmquW7dGiHAVF/fREWTxJAx45acp2AcB0OkWtA3KgO6i/zSE9BP+PabxXYY7tAl1gbXcRvB08mnW43cbCqJ00Hp2G5oWcNo1EH2Gmf7Jp4NlXOcq2zOddBhUImx+kG7v9y4nCu3KvtYOeY67t8TYF2U6Az+yxxyX1jHVtSkt8iUfk3K4jl6w5X31gq4Ss5f1GKrny0rWPRptBnuYtYdPIMGLHVo=
    file: libcsharp-module.so
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$TRAVIS_OS_NAME = linux"
      tags: true
      branches:
        only:
        - master
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: eYKVpb7Or9sI3GFJtnd1k5Hx4fRiQaFaVFZCFLICD5tx2SHukokd0b2Tse66S37FCOEl57irFyJtB3L7rWF12RUZuLsHcX+woZlvqF3NO+7fmK+Ug9sTeqOwtOHt/PTMN7D3S3sIpW4Vs5BrBJv23K2VUVKgo4bcMseuBpaPM/Qe9/aTTcWPvAHejLkmn2Cz9HJM0A74/QBZigTGi8SHHh9nTiN3ZoRoCorKzu9/ZlVScRZI+G8U7Kkfs8t2QWD+wiw7SGEIp/dUGoXW7EtqODDwntANZwpkQ+AJVbonCmNkZtr7SJLntNrC4zlIfuGLL+Wr50v77I2q1AAI+8rL3PCSe3V9dpjheztooJyst5Ir7WVqvROJ2U2tYoKvEMiL0Wo7Ffq30NJ+d4xyaovVffdUIAyqqxA+tsorvNSju55CQXTkVGnyrbRAsYK/bh4k8LIln868RqAffzGkXmquW7dGiHAVF/fREWTxJAx45acp2AcB0OkWtA3KgO6i/zSE9BP+PabxXYY7tAl1gbXcRvB08mnW43cbCqJ00Hp2G5oWcNo1EH2Gmf7Jp4NlXOcq2zOddBhUImx+kG7v9y4nCu3KvtYOeY67t8TYF2U6Az+yxxyX1jHVtSkt8iUfk3K4jl6w5X31gq4Ss5f1GKrny0rWPRptBnuYtYdPIMGLHVo=
    file: csharp-module.dll
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$TRAVIS_OS_NAME = windows"
      tags: true
      branches:
        only:
        - master
  - provider: script
    skip_cleanup: true
    script: ls -l && cd .. && cd .. && cd .. && ls -l && scs3-win.exe upload .\runtime\src\Release\csharp-module.dll coreclr-module\x64_win32\csharp-module.dll
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$TRAVIS_OS_NAME = windows"
      tags: true
      branches:
        only:
        - master
  - provider: script
    skip_cleanup: true
    script: ls -l && cd .. && cd .. && ls -l && chmod +x ./scs3-linux && ./scs3-linux upload ./runtime/src/libcsharp-module.so coreclr-module/x64_linux/libcsharp-module.so
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$TRAVIS_OS_NAME = linux"
      tags: true
      branches:
        only:
        - master
