env:
  - GITHUB_DEPLOY_PRERELEASE=$(if echo $TRAVIS_TAG | grep -q "\-" ; then echo true; else echo false; fi) WINDOWS_BETA=$(if [ "$GITHUB_DEPLOY_PRERELEASE" = true ] && [ "$TRAVIS_OS_NAME" = "windows" ] ; then echo true; else echo false; fi) LINUX_BETA=$(if [ "$GITHUB_DEPLOY_PRERELEASE" = true ] && [ "$TRAVIS_OS_NAME" = "linux" ] ; then echo true; else echo false; fi) WINDOWS_STABLE=$(if [ "$GITHUB_DEPLOY_PRERELEASE" = false ] && [ "$TRAVIS_OS_NAME" = "windows" ] ; then echo true; else echo false; fi) LINUX_STABLE=$(if [ "$GITHUB_DEPLOY_PRERELEASE" = false ] && [ "$TRAVIS_OS_NAME" = "linux" ] ; then echo true; else echo false; fi)
#branches:
#  only:
#    - master
#    - dev
matrix:
  include:
  - os: linux
    dist: bionic
    language: cpp
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-8
        - g++-8
    script:
      - chmod +x ./cdn-linux
      - mkdir upload
      - cd upload
      - mkdir modules
      - cd ..
      - cd runtime
      - echo "$GITHUB_DEPLOY_PRERELEASE"
      - mkdir build && cd build
      - CXX=/usr/bin/g++-8
      - CC=/usr/bin/gcc-8
      - cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
      - cmake --build . --config Release
      - cd ..
      - cd ..
      - mv ./runtime/build/src/libcsharp-module.so ./upload/modules/libcsharp-module.so
      - echo "${TRAVIS_BUILD_NUMBER}"
  - os: windows
    filter_secrets: false
    language: cpp
    script:
      - mkdir upload
      - cd upload
      - mkdir modules
      - cd ..
      - cd runtime
      - echo "$GITHUB_DEPLOY_PRERELEASE"
      - mkdir build && cd build
      - cmake -G"Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=RelWithDebInfo -T host=x64 ..
      - cmake --build . --config Release
      - cd ..
      - cd ..
      - echo "${TRAVIS_BUILD_NUMBER}"
      - powershell move runtime/build/src/Release/csharp-module.dll upload/modules
      - cd upload && cd modules && ls
      - cd .. && cd ..
  - dist: bionic
    addons:
      snaps:
      - name: dotnet-sdk
        classic: true
        channel: latest/beta
    sudo: required
    language: csharp
    mono: none
    script:
      - mkdir upload
      - chmod +x ./cdn-linux
      - sudo snap alias dotnet-sdk.dotnet dotnet
      - dotnet --version
      - cd api
      - cd AltV.Net.Host
      - dotnet publish -c Release
      - dotnet pack -c Release
      - cd ..
      - cd ..
      - mv ./api/AltV.Net.Host/bin/Release/netcoreapp3.0/publish/AltV.Net.Host.dll ./upload/AltV.Net.Host.dll
      - mv ./api/AltV.Net.Host/bin/Release/netcoreapp3.0/publish/AltV.Net.Host.runtimeconfig.json ./upload/AltV.Net.Host.runtimeconfig.json
      - if [ "$LINUX_STABLE" = true ]; then DOTNET_STABLE=true ; fi
      - if [ "$LINUX_BETA" = true ]; then DOTNET_BETA=true ; fi
      - LINUX_STABLE=false
      - WINDOWS_STABLE=false
      - LINUX_BETA=false
      - WINDOWS_BETA=false
  - language: csharp
    dist: trusty
    mono: latest
    git:
      depth: false
    before_script:
    - LINUX_STABLE=false
    - WINDOWS_STABLE=false
    - LINUX_BETA=false
    - WINDOWS_BETA=false
    - DOCS=true
    - nuget install docfx.console -ExcludeVersion
    - export DOCFX_TOOL="mono docfx.console/tools/docfx.exe"
    script:
    - $DOCFX_TOOL metadata docs/docfx.json
    - $DOCFX_TOOL build docs/docfx.json
deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: upload/modules/libcsharp-module.so
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$LINUX_STABLE = true"
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: upload/modules/csharp-module.dll
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$WINDOWS_STABLE = true"
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: 
      - upload/AltV.Net.Host.dll
      - upload/AltV.Net.Host.runtimeconfig.json
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$DOTNET_STABLE = true"
      tags: true
  - provider: releases
    skip_cleanup: true
    prerelease: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: upload/modules/libcsharp-module.so
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$LINUX_BETA = true"
      tags: true
  - provider: releases
    skip_cleanup: true
    prerelease: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: upload/modules/csharp-module.dll
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$WINDOWS_BETA = true"
      tags: true
  - provider: releases
    skip_cleanup: true
    prerelease: true
    api_key:
      secure: SHN0O0J2NFHAXP5bIRKufF3u8RqHDSKSNbVNXKnDS5FXJkhwDlHYfL1mF9xIlkAUSNvYvrKaReDAxWwRulKWisZi4JXA4OL96j2Pqiovw7npomDmEQpXLC8TgiH9TvkIFFXr4L5Cm6zzXTVjrI2FA1WiHR2rga1A367dCVX0wdSjsH4qwC3CsNFBhStsbPMQl49U2hHGe+Nl02LkzSqS0QBZ6RZsChF+fzs35512Xvfiz0qXExCIIQpIYbnPAKbNA4vd6/zTkj72xYYsK8pKGKu56ENCPf2uvzfacUDQKrTKLTVVVWlJ8865VfIwjPixfD/dvnD4XZ/mC3SQbAwEE5WjSApOXCs/eL/zKq4Wa3oaJTc0mFf31wCySAQfL3vD51Wu/pjPuixsH1o6JPxWZuGA5KbL7Bi0D3I8T3mD4CJoPwIYbmu/6kwUHbOi/Nd9fb0YraL9k1uX4WzROIpGLbADccr1L7itGVdnhD5vlrp07ETluOxyJZlsB4gNVaSk4MUAppNVlXAi/4UOmEmQYIZRg1akO+4nDN0+nfwzNRSM4chSDBFwDBthqsADErFf5yFGy9JmLHLD2qkeSjqEm/rc1a2zV66nucVmwKHZyPL92GhGkguxsYKFNu/42382W1wHJ47nDCpEQWOVgFgix7xdgSKeZiYvoEs0JgWSjLU=
    file: 
      - upload/AltV.Net.Host.dll
      - upload/AltV.Net.Host.runtimeconfig.json
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$DOTNET_BETA = true"
      tags: true
  - provider: script
    skip_cleanup: true
    script: cdn-win.exe upload coreclr-module/stable/x64_win32 "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$WINDOWS_STABLE = true"
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./cdn-linux ./upload coreclr-module/stable/x64_linux "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$LINUX_STABLE = true"
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./cdn-linux ./upload coreclr-module/stable/x64_linux "${TRAVIS_BUILD_NUMBER}" && ./cdn-linux ./upload coreclr-module/stable/x64_win32 "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$DOTNET_STABLE = true"
      tags: true
  - provider: script
    skip_cleanup: true
    prerelease: true
    script: cdn-win.exe upload coreclr-module/beta/x64_win32 "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$WINDOWS_BETA = true"
      tags: true
  - provider: script
    skip_cleanup: true
    prerelease: true
    script: ./cdn-linux upload coreclr-module/beta/x64_linux "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$LINUX_BETA = true"
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./cdn-linux ./upload coreclr-module/beta/x64_linux "${TRAVIS_BUILD_NUMBER}" && ./cdn-linux ./upload coreclr-module/beta/x64_win32 "${TRAVIS_BUILD_NUMBER}"
    on:
      repo: FabianTerhorst/coreclr-module
      condition: "$DOTNET_BETA = true"
      tags: true
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    target-branch: gh-pages
    local-dir: docs/_site
    keep-history: true
    on:
      condition: "$DOCS = true"
      branch: master
