{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for
full license information.}} {{!include(/^styles/.*/)}} {{!include(/^fonts/.*/)}} {{!include(/^resources/.*/)}} {{!include(favicon.ico)}} {{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="{{_appLang}}">
{{>partials/head}}

<body data-spy="scroll" data-target="#affix" data-nav-base-url="{environment:infragisticsBaseUrl}" data-demos-base-url="{{_demosBaseUrlVar}}"
    data-lang="{{_language}}" data-theme="{{_productThemeName}}" data-docfx-rel="{{_rel}}" data-timestamp="{{_timestamp}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={environment:GTMContainerId}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
	<!-- End Google Tag Manager (noscript) -->
    <header>
        {{^_disableNavbar}} {{>partials/navbar}} {{/_disableNavbar}}
    </header>

    <div id="main" role="main" class="container-fluid">
        {{!#_enableSearch}} {{!--
        <div class="row"> --}} {{!>partials/searchResults}} {{!-- </div> --}} {{!/_enableSearch}}
        <div class="row body-content docfx-content {{#_isReveal}} row-reveal {{/_isReveal}}">

            <div class="sidenav-container col-lg-2 col-md-2">
                {{^_disableToc}} {{>partials/toc}} {{/_disableToc}}
            </div>

            <div class="article-container col-lg-8 col-md-9 col-sm-12">
                <article class="content wrap" id="_content" data-uid="{{uid}}">
                    {{!body}}
                </article>
                {{#_gitHubBtnLbl}} 
                <div>{{>partials/github}}</div>
                 {{/_gitHubBtnLbl}}
            </div>

            <div class="col-lg-2 hidden-md docfx-affix">
                {{^_disableAffix}} {{>partials/affix}} {{/_disableAffix}}
            </div>

        </div>

    </div>
    {{^_disableFooter}} {{>partials/footer}} {{/_disableFooter}} {{>partials/scripts}}
</body>

</html>