.anchorjs-link {
    position: absolute;
    color: transparentize($igblue, 0.6);
    font-family: 'Material Icons';
    padding-top: 0.1em;
    &:hover {
        color: $igblue;
    }
    &::after {
        content: 'link';
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
    }
    &:focus {
        color: $midgray;
    }
}