.article {
    margin-top: 120px;
    margin-bottom: 115px;
}

.article.grid-right {
    margin-left: 280px;
}

.article img {
    max-width: 100%;
}

.article-container {
    position: relative;
    left: 16.66666667%;
    height: 100%;
    padding: 24px;
    margin-bottom: 10px;
    z-index: 1;
    @media screen  and (max-width: 991px) {
        left: 0;
    }
}

.external-link {
    display: inline-flex;
    align-items: center;
    padding-right: 18px;
    position: relative;
    &::after {
        font-family: Material Icons;
        content: "open_in_new";
        margin-left: 2px;
        min-width: 16px;
        max-width: 16px;
        overflow: hidden;
        right: 0;
        position: absolute;
    }
    &-parent{
        line-height: normal;
    }
}