button,
a,
a > code {
  color: $igblue;
  cursor: pointer;
}
button:hover,
button:focus,
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a.disable,
a.disable:hover {
  text-decoration: none;
  cursor: default;
  color: #000000;
}

/* additional spacing fixes */
.btn + .btn {
  margin-left: 10px;
}
.btn.pull-right {
  margin-left: 10px;
  margin-top: 5px;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  background: $igblue;
  padding: 8px 16px;
  margin: 24px 0;
  outline-style: none;
  transition: all 0.25s ease-out; 

  &:hover,
  &:focus {
    color: rgba($white, 20%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26),
      0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
  }

  &[disabled] {
    color: rgba(0, 0, 0, 0.28);
    background: #eee;
    box-shadow: none;
  }
}

.stackblitz-btn {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 24px 0;
  outline-style: none;
  transition: all 0.25s ease-out;

  &:hover,
  &:focus {
    color: rgba($white, 20%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26), 0 8px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
  }

  background: $igblue;
  &::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    background-image: url("../../images/stackblitz-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &[disabled] {
    color: rgba(0, 0, 0, 0.28);
    background: #eee;
    box-shadow: none;

    &::before {
      background-image: url("../../images/stackblitz-logo-dark.svg");
    }
  }
}

.codesandbox-btn {
@extend .stackblitz-btn;
background: $darkgray;
&::before {
  background-image: url("../../images/code-sandbox-seeklogo.com.svg");
}
&[disabled] {
  &::before {
    background-image: url("../../images/code-sandbox-seeklogo.com.svg");
  }
}
}



.github-btn {

  padding: 10px 0;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: #444;
  position: relative;

  a {
    color: #09f;
    display: flex;
    align-items: center;
  }

  img {
    width: 24px;
    height: 24px;
    margin:0 4px;
  }
}

.dash-separator {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  border:1px dashed #96bfca;
}
