.typography-sample {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 24px;

    .h1--igx {
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.375rem;
        margin-top: 1.6875rem;
        margin-bottom: 3.375rem;
    }

    .h2--igx {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 2.8125rem;
        margin-top: 1.6875rem;
        margin-bottom: 1.6875rem;
    }

    .h3--igx {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.1875rem;
        margin-top: 1.6875rem;
        margin-bottom: 0;
    }

    .h4--igx {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.375rem;
        margin-top: 1.6875rem;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 1.6875rem;
        font-weight: 400;    
    }

    blockquote {
        font-size: 1.5rem;
        line-height: 2.185rem;
        margin-top: 0;
        margin-bottom: 1.6875rem;
    }

    ul,
    ol {
        font-weight: 400;
    }
}

.typography-group div.typography-sample {
    margin-top: 0;
}

.typography-sample div.spec {
    display: flex;
    flex-flow: column nowrap;
}

.font-weights {
    list-style: none;
    padding: 0;
}

.font-weights li {
    font-size: 28px;
    line-height: 35px;
}

.font-weights li.light {
    font-weight: 300;
}

.font-weights li.normal {
    font-weight: 400;
}

.font-weights li.semibold {
    font-weight: 600;
}

.font-weights li.bold {
    font-weight: 700;
}
