#main {
    position: relative;
    padding-top: $main-padding;
    width: 100%;
    min-height: 100%;
}

.body-content {
    position: relative;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    .body-content {
        display: flex;
        flex-flow: column;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .navbar {
    border-width: 0 0 1px;
    border-radius: 0;
}

.fixed_header {
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
    top: 0;
    z-index: 9999;
    left: 0;
}

.fixed_header+.toc {
    margin-top: 50px;
    margin-left: 0;
}

.fixed_header {
    background-color: #fff;
}

.divider {
    display: block;
    height: 24px;

    &--half {
        height: 12px;
    }
}