<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
                <target name="file" xsi:type="File"
                        keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"
                        fileName="log/Serverlog-${date:format=yyyy-MM-dd}.log"
                        layout="${longdate} | ${level:padding=5} | ${logger:shortName=true} | ${message} ${exception:format=toString}"
                        />
                        
                <target name="stdout" xsi:type="ColoredConsole"
                        layout="[.NET] ${date:format=HH\:mm\:ss.fff} | ${level:padding=5} | ${logger:shortName=true} | ${message} ${exception:format=toString}"
                        />
        </targets>

        <rules>
                <logger name="*" minlevel="Debug" writeTo="file" />
                <logger name="*" minlevel="Debug" writeTo="stdout" />
        </rules>
</nlog>